* {
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    text-align: right;
    font-style: normal;
    color: #FF6060;
    padding: 0 100px;
   
   
    height: 100px;
    box-sizing: border-box;

}

.listNav {
    display: flex;
    flex-direction: row;
    gap: 57px;
    
}

.listNav li a {
    color: #FF6060;
}

@media screen and (max-width: 767px) {

    .header-container {
        padding: 0 20px;
        margin-top: 20px; 
    }
    .header-container img {
        height: 50px;
    }
    .listNav {
        gap: 20px;
        padding: 0;
    }

    .listNav li a {
font-size: 0.75em;        
    }
}