@import './root.css';

.about_container {
    padding: 0 100px;
}

.img_box {
    width: 100%;
    height: 223px;
    background-color: black;
    mix-blend-mode: darken;
    border-radius: 25px;
    margin: 38px 0;
}

.img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 25px;

}

.dropdown_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
    margin-bottom: 38px;


}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--main-color);
    font-style: normal;
    font-size: 1.5em;

}
.arrow {
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
.DropContent {
    background-color: #F6F6F6;
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 5px 5px;
}
.DropContent {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }

.arrow {
    height: auto;
    margin: 0;
}

@media screen and (max-width:767px) {
    
    .about_container {
        padding: 0 20px;
    }

    .img_box {
        margin: 20px 0;
    }

    .dropdown_box {
        padding: 0;
        margin-bottom: 20px;
    }
    
}