@import './root.css';

.error_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;

}

.error {
    color: var(--main-color);
    font-size: 18em;
    font-style: normal;
    font-weight: 700;
    margin: 139px 0;
}

.error_box h2 {
    color: var(--main-color);
    font-size: 2.5em;
    font-style: normal;
    margin: 0;
    margin-bottom: 139px;
}

.linkHome {
    color: var(--main-color);
    font-style: normal;
    font-size: 1.125em;
    margin: 0;
    margin-bottom: 139px;
    border-bottom: var(--main-color) 1px solid;
}

@media screen and (max-width: 767px) {
    .error_box {
        padding: 0 20px;
    }

    .error {
        font-size: 6em;
        margin: 133px 0;
    }

    .error_box h2 {
        font-size: 1.25em;
        margin-bottom: 133px;
        text-align: center;
    }

    .error_box p {
        margin-bottom: 133px;
        text-align: center;
    }
}