@import './root.css';

.error_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;

}

.error {
    color: var(--main-color);
    font-size: 18em;
    font-style: normal;
    font-weight: 700;
    margin: 139px 0;
}

.error_box h2 {
    color: var(--main-color);
    font-size: 2.5em;
    font-style: normal;
    margin: 0;
    margin-bottom: 139px;
}

.error_box p {
    color: var(--main-color);
    font-style: normal;
    font-size: 1.125em;
    margin: 0;
    margin-bottom: 139px;
    border-bottom: var(--main-color) 1px solid;
}