@import './root.css';


.home-container {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin-top: 50px;

}

.text-img {
    width: 100%;
    height: 223px;
    position: relative;
    background-color: black;
    mix-blend-mode: darken;
    border-radius: 25px;
    margin-bottom: 43px;
    /*color: var(--text-color);*/
}

.text-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 25px;
}

.title_home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 3em;
    font-style: normal;
    color: var(--text-color);
    margin: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex: 2 100%;
    gap: 50px 60px;
    /* height temporaire*/
    padding: 50px 50px;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: #F6F6F6;
}
.main-content a  {
    flex: 1 30%;
    position: relative;
    width: 22%;
    height: 340px;
    border-radius: 10px;
    background-size: cover;
}

.home_card {
    flex: 1 30%;
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    background-size: cover;
    /*margin-bottom: 40px;*/
}

.card_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--text-color);
    font-size: 1.125em;
}

@media screen and (max-width : 1500px) {
    .home-container {
        padding: 0 50px;
    }
    .main-content {
        flex: 2 100%;
        
    }
    .main-content a {
        flex: 1 25%;
    }
   

}

@media screen and (max-width : 1400px) {
    .home-container {
        padding: 0 50px;
    }
    .main-content {
        flex: 2 100%;
        
    }
    .home_card {
        flex: 1 25%;
    }

}

@media screen and (max-width : 1200px) {
    .home-container {
        padding: 0 25px;
    }
    .main-content {
        padding: 25px 25px ;
        gap: 25px 30px;
    }

}

@media screen and (max-width: 767px) {
    .home-container {
        margin-top: 27px;
        padding: 0 20px;
    }
    .text-img {
        height: 111px;
        margin-bottom: 22px;
    }
    .title_home {
        font-size: 1.5em;
    }

    .main-content {
        flex-direction: column;
        padding: 0;
        margin-bottom: 27px;
        gap: 0;
        background-color: #fff;
        
    }
    .main-content a {
        width: 100%;
    }
    
    .home_card {
        flex: none;
        width: 100%;
        margin-bottom:20px ;
        background-size: cover;
        flex: none;
    }
}