@import './root.css';

.logement_container {
    margin: 50px 0;
    padding: 0 100px;
}

.img_cover {
    width: 100%;
    height: 415px;
    position: relative;
    margin-bottom: 30px;


}

.logement_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.carousel_number {
    position: absolute;
    color: var(--text-color);
    font-size: 1.125em;
    bottom: 10px;
    left: 50%;
}

.left_arrow {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 95%;
    padding: 10px;
}

.right_arrow {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 95%;
    padding: 10px;
}

.logement_info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logement_info_box {
    width: 46%;
}

.logement_title {
    color: var(--main-color);
    font-size: 2.25em;
}

.logement_location {
    color: var(--main-color);
    font-size: 1.125em;
    margin-bottom: 20px;
}

.logement_tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 24px;
}


.logement_tags div {
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 3px 20px;
    border-radius: 10px;
}

.host_info_box {
    display: flex;
    flex-direction: column;
    width: 46%;
}

.host_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--main-color);
}

.host_info img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-bottom: 21px;
}

.rating {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.logement_des {
    display: flex;
    flex-direction: row;
    justify-content: s;
    width: 100%;
    gap: 76px;

}

.logement_des div {
    width: 95%;
}

.logement_des div p {
    margin: 0;
}

.text_dropdown {
    width: 50%;
}


@media screen and (max-width: 767px) {
    .logement_container {
        margin: 27px 0;
        padding: 0 20px;
    }

    .logement_img {
        border-radius: 10px;
    }

    .logement_info_container {
        flex-direction: column;
    }

    .logement_info_box {
        width: 100%;
    }

    .logement_title {
        font-size: 1.125em;
    }

    .logement_location {
        font-size: 1.375em;
    }

    .host_info_box {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .logement_tags {
        flex-wrap: wrap;

    }

    .logement_tags div {
        padding: 3px 10px;
    }

    .stars {
        height: 25px;
    }

    .logement_des {
        display: flex;
        flex-direction: column;
        width: 99%;
        gap: 20px;
    }


}